@media screen and (max-width: 1200px) {
    .info .info-btm h3 {
        font-size: 40px;
    }
}

@media screen and (max-width: 992px) {

    .info .info-btm,
    .info .count-top {
        margin-top: 60px;
    }
    main .toggle {
    display: block;
    }
    main .sidebar{
        left: -180px;
        transition: all 0.5s;
    }
    main .info {
        width: calc(100% - 0px);
    }
    .sidebar.open{
        left: 0;
        z-index: 2;
    }
    main .close-toggle{
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .info .round-progress {
        max-width: 100%;
    }
    .info .profile h1 {
        max-width: 100%;
        text-align: center;
    }
    .info .profile img {
        margin: auto;
    }
    .info .info-btm,
    .info .count-top {
        margin-top: 30px;
    }
    .info .container-fluid {
        padding: 0px 15px;
    }
    .stat_distribute-panel {
        padding: 0;
    }
    ul.social_status-list {
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }
    ul.social_status-list li {
        margin: 10px 0px;
        flex: 0 0 48%;
    }
    ul.social_status-list li .title {
        display: inherit;
    }
    .stat_distribute-panel .distribure_row {
        width: 100%;
    }
    .stat_sheet-inner .stat_sheet-colmn {
        max-width: 100%;
    }
    ul.social_small-data {
        display: flex;
        margin: 50px 0px 20px 0px;
    }
    ul.socailStat_gridView {
        margin-top: 25px;
    }
    .social_stat-wrap {
        margin-top: 50px;
    }
    .social_data-container {
    padding: 20px 0px;
    }
    .social_stat-wrap .stat_piechart-wrap {
        display: flex;
        text-align: center;
    }
    .pie_chart-row {
        width: 50%;
        margin: 0 auto; 
    }
    .chart_flow-row {
        display: block;
    }
    .right_panel-data {
        width: 100%;
        padding: 10px 0px;
    }
    .right_panel-data ul {
        padding:10px 0px
    }
    ul.socailStat_instaView {
        margin-top: 30px;
    }
    ul.socailStat_instaView li {
        text-align: left;
    }
    .info .round-progress .CircularProgressbar {
        max-width: 100px;
    }
    .info .count {
        text-align: center;
    }
    .info .count h4 {
        max-width: 100%;
    }
    .info .count img {
        margin: 20px auto;
    }
    .info .count small {
        display: block;
        margin: 10px 0;
    }
}
@media screen and (max-width: 576px) {
    .info .info-btm h3 {
        font-size: 30px;
    }
    .info .name-align h2 {
        font-size: 32px;
    }
    .info .profile h1 {
        font-size: 20px;
    }
    .info .profile img{
        max-width: 100px;
    }
    main .sidebar{
       left: -600px;
    }
    main .sidebar{
       width: 300px;
    }
    .info .count {
        text-align: center;
    }
    .info .count h4 {
        max-width: 100%;
    }
    .info .count img {
        margin: 20px auto;
    }
    .info .count small {
        display: block;
        margin: 10px 0;
    }
    .info .round-progress .CircularProgressbar {
        max-width: 80px;
    }
}