/* font-family: "Inter", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* font-family: "Roboto Mono", monospace; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* font-family: "Roboto", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: "Abel", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary: #AE8FF7;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    font-family: "Roboto Mono", monospace;
    background-color: #30313A;
}

.info {
    background-color: #30313A;
    padding: 30px 0;
}
.container{
    max-width: 1600px;
}

button:focus{
    border: 0px;
    outline: 0px;
}

.info .container-fluid {
    padding: 0 30px;
}

.info .profile h1 {
    font-family: "Roboto Mono", monospace;
    font-size: 25px;
    font-weight: 700;
    Line-height: 32.97px;
    color: var(--white);
    max-width: 240px;
    width: 100%;
    margin-top: 20px;
    padding-left: 10px;
}

.info .profile img {
    border-radius: 50%;
    display: block;
    max-width: 220px;
    width: 100%;
}

.info .details {
    color: var(--white);
}

.info .name-align {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info .name-align h2 {
    font-size: 48px;
    font-weight: 400;
}

.info .name-align img {
    margin-left: 20px;
}

.info .details ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info .details li {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info .details li span {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.main-btn {
    background-color: var(--primary);
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    padding: 17px 13px;
    color: var(--white);
    border-radius: 30px;
}

.info .details .tag strong {
    font-family: "Roboto", sans-serif;
    display: block;
    font-size: 15px;
    font-weight: 400;
    line-height: 17.58px;
}

.info .details .tag {
    margin: 30px 0;
}

.info .details p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
}

.info .details b {
    font-weight: 700;
    text-transform: uppercase;
}

.info .vid {
    position: relative;
}

.info .vid video {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.info .vid .ply-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info .vid .ply-btn button {
    border: none;
    outline: 0;
    background-color: #212227;
    color: var(--white);
    padding: 5px 19px;
    border-radius: 9px;
}

.info .count h4 {
    font-size: 15px;
    font-weight: 600;
    line-height: 18.15px;
    color: var(--white);
    max-width: 156px;
  width: 100%;
}

.info .count small {
    font-weight: 500;
    font-size: 12px;
    line-height: 12.1px;
    color: #87888C;
}

.info .count strong {
    display: block;
    color: var(--primary);
    font-size: 22px;
    font-weight: 700;
    margin-top: 20px;
}

.info .count img {
    display: block;
    margin: 20px 20px 0;
}



.info .round-progress {
    max-width: 190px;
    width: 100%;
}

.info .count-top {
    margin-top: 90px;
}

.round-progress .radial-01 {
    position: relative;
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 40px;
    border-radius: 100%;
    margin: 40px 0;
}

.round-progress .radial-01 p {
    position: absolute;
    left: -25px;
    bottom: -55px;
    z-index: 50;
    width: 150px;
}

.round-progress .radial-01 .radial-01-number {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #30313a;
    border-radius: 100%;
    padding-top: 41px;
    z-index: 20;
}

.round-progress .radial-01 .radial-01-number {
    font-size: 19px;
    padding-top: 16px;
    color: #AE8FF7;
    font-weight: 800;
}

.round-progress .radial-01>span.radial-01-border-r:before {
    content: " ";
    display: block;
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: #2B2B36;
    border-radius: 100%;
    z-index: 5;
}

.round-progress .radial-01>span.radial-01-border-r:after {
    content: " ";
    display: block;
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: #AE8FF7;
    border-radius: 100%;
    z-index: 10;
    clip: rect(0px, 120px, 50px, 40px);
}


.info .info-btm {
    margin-top: 90px;
}

.info .info-btm h3 {
    color: var(--white);
    text-transform: uppercase;
    font-size: 46px;
    font-weight: 700;
    flex: 1;
    text-align: left;
    padding-left: 60px;
}
.info .info-btm  .d-flex.align-items-center img{
    width: 70px;
}

.info .info-btm .tik-side p {
    font-size: 10px;
    font-weight: 700;
    color: var(--white);
    text-align: left;
    margin-top: 10px;
    padding-left: 40px;

}

.info .info-btm .tik-side .tik-btm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.info .info-btm .tik-side .tik-btm h6 {
    color: var(--white);
    font-size: 12px;
    font-weight: 700;
    line-height: 12.1px;
    max-width: 70px;
    width: 100%;

}


.info .info-btm .con-side li small {
    color: var(--white);
    font-size: 12px;
    font-weight: 400;
}

.info .info-btm .con-side li strong {
    font-size: 20px;
    font-weight: 300;
    display: block;
    color: var(--white);
}

.info-btm .more {
    color: var(--white);
}

.info-btm .more strong {
    display: block;
    margin-bottom: 20px;
}

.info-btm .more li {
    font-family: "Abel", sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-left: 30px;
    padding-bottom: 10px;
    position: relative;
}
.info-btm .more li::before{
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    top: 11px;
    left: 16px;
    border-radius: 100%;
}
.info-btm .more li:nth-child(1):before{
    background-color: #3755F3;
}
.info-btm .more li:nth-child(2):before{
    background-color: #459E59;
}
.info-btm .more li:nth-child(3):before{
    background-color: #EA79BA;
}


/* For-Side-bar */
main .info{
    width: calc(100% - 170px);
    margin-left: auto;
}
main .sidebar {
    position: fixed;
    background: #30313A;
    height: 100%;
    width: 170px;
    border-right: 1px solid #2C2D33;
    overflow-y: auto;
}

main .sidebar ul{
    padding: 80px 10px;
}
main .sidebar ul li {
    padding-bottom: 20px;
}
main .sidebar ul li a{
    color: #87888C;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 10px;
}
main .sidebar ul li a.active{
background-color: var(--primary);
color: #171821;
}
main .sidebar ul li a.active > img{
    filter: brightness(0) saturate(100%);
}

main .toggle {
    color: #fff;
    padding: 20px;
    font-size: 23px;
    display: none;
    position: absolute;
    z-index: 1;
}
main .close-toggle {
    color: #fff;
    padding: 20px;
    font-size: 23px;
    display: none;
    position: absolute;
    z-index: 1;
    right: 0;
}
main .close-toggle i{
    cursor: pointer;
}
main .toggle i{
    cursor: pointer;
}
/* sayan code */
.social_data-container {
  width: 100%;
  padding: 40px 0px 60px;
}

.page_navigation {
    width: 100%;
    margin-bottom: 30px;
}
ul.social_small-data {
    display: flex;
   margin: 50px 0px 100px 100px;
}
ul.social_small-data li{
    font-family: 'Inter';
    color: #fff;
    margin-right: 25px;
    text-align: center;
}
ul.social_small-data li .value{
    display: block;
}
.socialBtn {
    font-family: 'Inter';
  color: #fff;
  background: #AE8FF7;
  padding: 15px 20px;
  border-radius: 40px;
  display: inline-block;
}

ul.socailStat_instaView{
  width: 100%;
    }
    
    ul.socailStat_instaView li{
        color: #fff;
        font-family: 'Inter';
        margin: 15px 0px;
        text-align: center;
    }
    ul.socailStat_instaView li .title{
      display: inline-block;
      font-size: 12px;
      font-weight: 400;
    }
    ul.socailStat_instaView li .icon img{
        width: 20px;
        margin-left: 10px;
    }
    ul.socailStat_instaView li .count{
        display: block;
        font-size: 18px;
        font-weight: 300;
    }

ul.socailStat_gridView{
display: flex;
flex-wrap: wrap;
}

ul.socailStat_gridView li{
    flex: 0 0 50%;
    max-width: 50%;
    color: #fff;
    font-family: 'Inter';   
    text-align: center;
    margin: 25px 0px;
}
ul.socailStat_gridView li .title{
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
}
ul.socailStat_gridView li .icon img{
    width: 20px;
    margin-left: 10px;
}
ul.socailStat_gridView li .count{
    display: block;
    font-size: 18px;
    font-weight: 300;
}
.social_stat-wrap {
   position: relative;
}
.social_stat-wrap .stat_piechart-wrap {
   position: relative;
   display: flex;
   flex-wrap: wrap;
}
.pie_chart-row{
    width: 70%;
}
.pie_chart-colmn {
    
    padding: 30px;
    border-radius: 20px;
    background-color: #fff;
}
ul.segment_tab {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
ul.segment_tab li {
    margin: 0px 10px;
}
ul.segment_tab li button{
    color: #FFFFFF80;
    font-size: 12px;
    font-style: italic;
}
ul.segment_tab li a.active{
    color: #fff;
}

.chart_flow-row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.right_panel-data {
    flex: 0 0 30%;
    max-width: 30%;
    padding-left: 20px;
}
.right_panel-data .title{
    color: #fff;
    font-family: "Inter";
    font-size: 12px;
}
.right_panel-data ul{
    padding: 25px 0px 15px 15px;
}
.right_panel-data ul li{
    color: #fff;
    font-family: "Inter";
    padding: 10px 0px;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.right_panel-data ul li .genr {
    display: block;
    width: 10px;
    height: 10px;
    background: #3755F3;
    border-radius: 100%;
    margin-right: 6px;
}
.right_panel-data ul li .age {
    display: block;
    width: 10px;
    height: 10px;
    background: #EA79BA;
    border-radius: 100%;
    margin-right: 6px;
}
.right_panel-data ul li .countries {
    display: block;
    width: 10px;
    height: 10px;
    background: #27d157;
    border-radius: 100%;
    margin-right: 6px;
}
.chart_value .title{
    font-family: 'Inter';
    color: #707B81;
}
.pieID {
    display: inline-block;
    vertical-align: top;
  }
  .pie {
    height: 200px;
    width: 200px;
    position: relative;
    margin: 0 30px 30px 0;
  }
  .pie::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
    background: #EEE;
    border-radius: 50%;
    top: 50px;
    left: 50px;
  }
  .pie::after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: rgba(0,0,0,0.1);
    border-radius: 50%;
    box-shadow: 0 0 3px 4px rgba(0,0,0,0.1);
    margin: 220px auto;
    
  }
  .slice {
    position: absolute;
    width: 200px;
    height: 200px;
    clip: rect(0px, 200px, 200px, 100px);
    animation: bake-pie 1s;
  }
  .slice span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
    font-family: 'Inter';
  }
  .legend {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #FFF;
    padding: 15px;
    font-size: 13px;
   
  }
  .legend li {
    width: 110px;
    height: 1.25em;
    margin-bottom: 0.7em;
    padding-left: 0.5em;
    border-left: 1.25em solid black;
  }
  .legend em {
    font-style: normal;
  }
  .legend span {
    float: right;
    position: relative;
  }
  .legend span:after{
    content: "%";
    display: inline-block;
  }
.datepicker {
    width: 80px;
    border:0px;
    border-radius: 3px;
    padding: 5px 10px;
    background-image: url('/public/assets/images/select-dropdown.svg');
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: 63px;
    
}
.datepicker:focus{
    outline: 0px;
}
.btnContact {
    font-family: 'Inter';
    color: #fff;
    background: #AE8FF7;
    padding: 18px 25px;
    border-radius: 20px;
    display: inline-block;
}

.ml-auto {
    width: 100%;
    text-align: right;
}
.barnd_colmn {
    display: flex;
    align-items: center;
}
.barnd_colmn .logo{
   margin-right: 20px;
}
.barnd_colmn .logo img{
    width: 70px;
}
.barnd_colmn .barnd_text .title{
    color: #fff;
    font-family: 'Inter';
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0px;
}
.barnd_colmn .barnd_text .sub_title {
    color: #fff;
    font-family: 'Inter';
    font-size: 10px;
    font-weight: 700;
    padding-left: 15px;
}

ul.social_status-list {
    width: 100%;
    display: flex;    
     padding: 0px;
     margin: 0px;

}
ul.social_status-list li{
    color: #fff;
    font-family: 'Inter';
    margin-right: 84px;
    text-align: center;
}
ul.social_status-list li .title{
  display: flex;
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
}
ul.social_status-list li .icon img{
    width: 20px;
    margin-left: 10px;
}
ul.social_status-list li .count{
    display: block;
    font-size: 18px;
    font-weight: 300;
}

.stat_distribute-panel {
    width: 100%;
    margin-top: 50px;
    padding: 0px 40px;
}
.stat_distribute-panel .distribure_row {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 25px;
}
.stat_distribute-panel .distribure_row .row_header {
    margin-bottom: 30px;
}
.row_header .title{
    font-size:28px;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}
.row_header .title label{
    display: block;
}
.stat_sheet-wraper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
}
.stat_sheet-inner {
    width:100%;
    margin: 0px auto;
}
.stat_sheet-inner .stat_sheet-colmn {
    text-align: center;
    max-width: 100%;
    margin: 30px auto;
}
.stat_sheet-inner .stat_sheet-colmn .title{   
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;    
    color: #fff;
}
.stat_sheet-colmn .sheet_table {
    margin-top: 25px;
}
.stat_sheet-colmn .table_parent
    {
        display: table;
        width: 100%;
        background: #2B2B36;       
        border: 1px solid rgba(0,0,0,.5);
        border-collapse: collapse;
    }
    
  
    .stat_sheet-colmn .row    {
        display: table-row;
        width: 100%;
        border-radius: 20px;
    }
    .stat_sheet-colmn .cell    {
        font-family: 'Inter';
        display: table-cell;
        width: 50%;
        text-align: center;
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        padding: 25px;
        border: .1rem solid rgba(0,0,0,.5);
        border-collapse:collapse;
    }
    .distribute_progress {
        margin:30px 0px;
        overflow: hidden;
        border-radius: 15px;
    }
    .progress-bar-1 .progress-track {
        background: #D7EBDD;
      }

      .progress-bar-1 .progress-fill {
        background: #27D157;
        height: 10px;
        width: 50%;
        color: #fff;
        text-align: center;
        font-family: "Lato","Verdana",sans-serif;
        font-size: 12px;
        line-height:10px;
        border-radius: 15px;
      }
      .progress-bar-2 .progress-track {
        background: #C8EFED;
      }

      .progress-bar-2 .progress-fill {
        background: #2ED3C9;
        height: 10px;
        width: 50%;
        color: #fff;
        text-align: center;
        font-family: "Lato","Verdana",sans-serif;
        font-size: 12px;
        line-height: 10px;
        border-radius: 15px;
      }
      .distribute_progress .progress-fill span{
        visibility: hidden;
      }
      .progress-bar-3 .progress-track {
        background: #C4B7E0;
      }

      .progress-bar-3 .progress-fill {
        background: #5417D7;
        height: 10px;
        width: 50%;
        color: #fff;
        text-align: center;
        font-family: "Lato","Verdana",sans-serif;
        font-size: 12px;
        line-height: 10px;
        border-radius: 15px;
      }
      .rounded .progress-track,
      .rounded .progress-fill {
        border-radius: 3px;
        box-shadow: inset 0 0 5px rgba(0,0,0,.2);
      }
.genderProgress .distribute_progress {
    width: 85%;
    position: relative;
}
.genderProgress .distribute_progress span{
    visibility: visible !important;
    position: absolute;
}
      .genderWomen .progress-track {
        background: #C4B7E0;
      }

      .genderWomen .progress-fill {
        background: #5417D7;
        height: 10px;
        width: 50%;
        color: #fff;
        text-align: center;
        font-family: "Lato","Verdana",sans-serif;
        font-size: 12px;
        line-height: 10px;
        border-radius: 15px;
      }
      .genderMen .progress-track {
        background: #EFC8E4;
      }

      .genderMen .progress-fill {
        background: #D32EB9;
        height: 10px;
        width: 50%;
        color: #fff;
        text-align: center;
        font-family: "Lato","Verdana",sans-serif;
        font-size: 12px;
        line-height: 10px;
        border-radius: 15px;
      }

      ul.gender_indicator {
        display: flex;
      }
      ul.gender_indicator li{
        font-family: 'Inter';
        font-size:12px;
        margin-right: 15px;
      }
      ul.gender_indicator li .men{
        width: 8px;
        height: 8px;
        border-radius: 100%;
        display: inline-block;
        background: #D32EB9;

      }
      ul.gender_indicator li .women{
        width: 8px;
        height: 8px;
        border-radius: 100%;
        display: inline-block;
        background: #5417D7;
      }
      ul.gender_indicator li .fourteen{
        width: 8px;
        height: 8px;
        border-radius: 100%;
        display: inline-block;
        background: #27d157;
      }
      ul.gender_indicator li .eighteen{
        width: 8px;
        height: 8px;
        border-radius: 100%;
        display: inline-block;
        background: #2ed3c9;
      }
      ul.gender_indicator li .twentyfive{
        width: 8px;
        height: 8px;
        border-radius: 100%;
        display: inline-block;
        background: #5417d7;
      }
      .tabChartbtn{
        background: transparent;
        outline: 0px;
        border:0px;
        color: #FFFFFF80;
        font-style: italic;
      }
      .tabChartbtn.active{
        color: #fff;
      }

      .CircularProgressbar .CircularProgressbar-path {
        stroke: #ae8ff7 !important;
      }
      .CircularProgressbar .CircularProgressbar-text{
        fill:#ae8ff7 !important;
      }
      .CircularProgressbar .CircularProgressbar-trail {
    stroke:#2B2B36 !important;
      }

      .CircularProgressbar {
        width: 40% !important;
        margin-top: 10px;
    }


    .social_data-container .distribure_row{

        background: #fff;
            border-radius: 25px;
            margin: 20px auto;
            padding: 20px;
            width: 70%;
        }